#button-wrapper {
  text-align: center;
  padding-top: 200px;
}

.login-button {
  color: white;
  background-color: transparent;
  border: 0px;
  padding: 10px;
  margin: 5px;
}

.login-button:hover {
  border-radius: 5px;
}

.TW:hover {
  outline: 1px solid #9146ff;
}

.YT:hover {
  outline: 1px solid #ff0000;
}

.PR:hover {
  outline: 1px solid #ffffff;
}

/*-----navigation------*/

.main-logo {
  margin: 0;
}

.navigation-container {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: baseline;
}

.nav-list-item {
  padding: 0px 4px;
}

.left {
  flex: 1;
}

.right {
  margin-left: auto;
}

/*-----search------*/
.search-container {
  padding-top: 10px;
}

.search-input-field {
  width: 100%;
  border: 4px;
}

.search-input-field:focus {
  outline: 0px;
}
